.blue_outline {
  color: #0065cc;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  width: 100%;
  border: 1px dashed #0065cc;
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: #f5f8fa;
}

.blue_outline_md {
  composes: blue_outline;
  width: auto;
  padding: 0.8rem 2rem;
  margin-top: 0rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
