.couple {
  display: flex;
}

.coupleSpaced {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-top: 3rem;
}

.triple {
  display: flex;
}

.mainSection {
  width: 80%;
  max-width: 45rem;
  margin: 3rem auto;
}

.mb_med {
  margin-bottom: 0.8rem;
}

.p_relative {
  position: relative;
}
