.red_block {
  background-color: #d04141;
  color: white;
  font-weight: 700;
}

.blue_outline {
  border: 1px solid #3983fa;
}

.btnBlock {
  padding: 1rem 2.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.btnBlock:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}
