.section {
  display: flex;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.active {
  --width: 37em;
  composes: section;
  width: var(--width);
  height: calc(var(--width) * 1.3);
  margin: 2rem 0;
  position: absolute;
  z-index: 2;
  left: calc((100vw - var(--width)) / 2);
  top: 2%;
}

.final {
  composes: active;
  position: static;
  margin: 3rem auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1200px) {
  .section {
    font-size: 1.2rem;
  }
  .active {
    --width: 50em;
  }
  .final {
    --width: 40em;
  }
}

/* Sets the font size for the sidebar */
.sidebar {
  background-color: #003d73;
  color: white;
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 0.8em;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4%;
}

.sidebarHeader {
  background-color: #02315c;
  position: relative;
  box-sizing: content-box;
  width: 112%;
  left: -12.5%;
  padding-left: 13%;
  padding-top: 4%;
  padding-bottom: 6%;
  margin: 17% 0 0 0;
  font-size: 1.2em;
}

.listGroup {
  padding: 5% 0;
}

.main {
  padding: 2em 2em 2em 1em;
  font-size: 0.9em;
  width: 100%;
}

.sidebarh4 {
  margin: 10% 0 3% 0;
}

.h2 {
  font-size: 2.5em;
}

.h3 {
  color: #003d73;
  font-size: 1.2em;
  margin: 2% 0;
}

.job {
  color: #a8a8a8;
  font-size: 1.2em;
  margin-top: 0.3em;
}

.main > hr {
  color: #868686;
  opacity: 0.7;
  width: 100%;
}

.close {
  position: absolute !important;
  right: 0.2em;
  top: 0.2em;
}
