.lightBlue {
  color: #3983fa;
}

.icons {
  composes: lightBlue;
}

.tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  padding: 1.25rem 0;
  margin: 1rem 0;
}

.h3 {
  font-size: 0.9rem;
  font-weight: 300;
  flex-basis: 55%;
}
