.labelType {
  font-weight: 700;
  font-size: 0.8rem;
}

.textSmall {
  font-size: 0.8rem;
}

.textGray {
  color: #868686;
}

.headerTitle {
  color: #3983fa;
  font-weight: 400;
  margin: 0.5rem 0;
}

.headerContent {
  composes: textGray;
  margin: 0;
}
